# Import Libraries

In [9]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

# Import Dataset

In [10]:
book_data=pd.read_csv('book.csv')
book_data.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

# Data Understanding

In [11]:
book_data.shape

(2000, 11)

In [12]:
book_data.isnull().sum()

ChildBks     0
YouthBks     0
CookBks      0
DoItYBks     0
RefBks       0
ArtBks       0
GeogBks      0
ItalCook     0
ItalAtlas    0
ItalArt      0
Florence     0
dtype: int64

# Model Building

In [58]:
# With min_support=0.10 and metric=confidence,threshold=0.10

In [59]:
frequent_items=apriori(df=book_data,min_support=0.10,use_colnames=False)

In [60]:
rules=association_rules(df=frequent_items,metric='confidence',min_threshold=0.10)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(1),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(1),(0),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(0),(2),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
3,(2),(0),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
4,(0),(3),0.4230,0.2820,0.1840,0.434988,1.542511,0.064714,1.270770
...,...,...,...,...,...,...,...,...,...
95,"(2, 6)",(5),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
96,"(5, 6)",(2),0.1275,0.4310,0.1035,0.811765,1.883445,0.048547,3.022812
97,(2),"(5, 6)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237
98,(5),"(2, 6)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
99,(6),"(2, 5)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800

In [61]:
rules.sort_values(by='support',axis=0,ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(0),(2),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
3,(2),(0),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
11,(6),(0),0.2760,0.4230,0.1950,0.706522,1.670264,0.078252,1.966074
10,(0),(6),0.4230,0.2760,0.1950,0.460993,1.670264,0.078252,1.343211
26,(2),(6),0.4310,0.2760,0.1925,0.446636,1.618245,0.073544,1.308361
...,...,...,...,...,...,...,...,...,...
84,"(3, 5)",(2),0.1235,0.4310,0.1015,0.821862,1.906873,0.048272,3.194159
83,"(2, 5)",(3),0.1670,0.2820,0.1015,0.607784,2.155264,0.054406,1.830626
82,"(2, 3)",(5),0.1875,0.2410,0.1015,0.541333,2.246196,0.056313,1.654797
17,(5),(1),0.2410,0.2475,0.1010,0.419087,1.693281,0.041353,1.295375
16,(1),(5),0.2475,0.2410,0.1010,0.408081,1.693281,0.041353,1.282270

In [62]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(1),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(1),(0),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(0),(2),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
3,(2),(0),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
4,(0),(3),0.4230,0.2820,0.1840,0.434988,1.542511,0.064714,1.270770
...,...,...,...,...,...,...,...,...,...
95,"(2, 6)",(5),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
96,"(5, 6)",(2),0.1275,0.4310,0.1035,0.811765,1.883445,0.048547,3.022812
97,(2),"(5, 6)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237
98,(5),"(2, 6)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
99,(6),"(2, 5)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800

In [ ]:
# With min_support=0.15 and metric=confidence,threshold=0.7

In [63]:
frequent_items=apriori(df=book_data,min_support=0.15,use_colnames=False)

In [64]:
rules=association_rules(df=frequent_items,metric='confidence',min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(4),(0),0.2145,0.423,0.1515,0.706294,1.669725,0.060767,1.964548
1,(6),(0),0.2760,0.423,0.1950,0.706522,1.670264,0.078252,1.966074
2,(4),(2),0.2145,0.431,0.1525,0.710956,1.649549,0.060050,1.968556

In [65]:
# With min_support=0.20 and metric=confidence,threshold=0.10

In [66]:
frequent_items=apriori(df=book_data,min_support=0.20,use_colnames=False)

In [67]:
rules=association_rules(df=frequent_items,metric='confidence',min_threshold=0.10)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(2),0.423,0.431,0.256,0.605201,1.404179,0.073687,1.441240
1,(2),(0),0.431,0.423,0.256,0.593968,1.404179,0.073687,1.421069

In [68]:
# The purpose of apriori is to build frequent item set
# The purpose of association rules is to generate the best association